.container-agenda{
	.toastui-calendar-milestone, .toastui-calendar-task, .toastui-calendar-allday, .toastui-calendar-panel-resizer{
		display: none!important;
	}
	.header{
		display: flex;
		flex-wra: wrap;

		.alternar-datas{
			height: 40px;
			margin-bottom: 30px;

			.voltar-datas{
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--cor-logo-cliente-transp);
				border-radius: 5px 0px 0px 5px;
				border: solid 2px var(--cor-logo-cliente);
				cursor: pointer;
				transition: all 0.3s;

				&:hover{
					filter: brightness(0);
				}
			}

			.hoje{
				background-color: #ccc;
				height: 40px;
				align-items: center;
				display: flex;
				justify-content: center;
				border-top: solid 2px var(--cor-logo-cliente);
				border-bottom: solid 2px var(--cor-logo-cliente);
				background-color: var(--cor-logo-cliente-transp);

				cursor: pointer;
				transition: all 0.3s;

				&:hover{
					filter: brightness(0);
				}
			}

			.avancar-datas{
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--cor-logo-cliente-transp);
				border-radius: 0px 5px 5px 0px;
				border: solid 2px var(--cor-logo-cliente);
				cursor: pointer;
				transition: all 0.3s;

				&:hover{
					filter: brightness(0);
				}
			}
		}

		.selecionar-data{
			width: 10%;
			margin-left: 20px;
		}
	}
}