.container-tratamento{
	.content-list{
		table{
			tbody{
				tr{
					td{
						.row-table{
							.especialidade_list{
								padding: 5px 10px;
								border-radius: 4px;
							}
							.progress-bar{
								background-color: var(--cor-logo-cliente);
							}
							.progress{
								background-color: var(--cor-logo-cliente-transp);
							}

							.div-text-sessoes-progress{
								span{
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}
.container-tratamento-novo{
	form{

		h5{
			label{
				font-size: 20px!important;
			}
		}
		.pagamentos-tratamento{
			display: none;

			.select2-container{
				width: 100%!important;
			}
		}

		.credito-paciente{
			background-color: var(--cor-logo-cliente);
			color: #fff!important;
			padding: 10px;
			border-radius: 10px;
			margin-top: 20px;
			background-image: url('http://127.0.0.1:8001/img/credito-money.png');
			background-attachment: inherit;
			background-size: 6%;
			background-repeat: no-repeat;
			background-position: right;
		}
	}
}

.container-tratamento-visualizar{
	.content-principal{
		width: 78%;
		border-radius: 20px;
		box-shadow: 0px 0px 2px #9d9d9d;
		padding: 15px;
		min-height: 450px;

		.especialidade_list{
			padding: 5px 10px;
			border-radius: 4px;
		}

		.div-resumo-tratamento{
			background-color: var(--cor-logo-cliente);
			color: #fff!important;
			padding: 10px;
			border-radius: 10px;
			margin-top: 20px;
		}
	}
	.content-profile{
		width: 20%;
		display: flex;
		justify-content: center;
		border-radius: 20px;
		box-shadow: 0px 0px 2px #9d9d9d;
		padding: 15px;
		height: auto;
		position: sticky;
		top: 20px;
		align-items: start;
		flex-wrap: wrap;

		.data-user{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.imagem_paciente{
				$tamanho-img-paciente: 150px;
				.circle{
					width: calc($tamanho-img-paciente + 20px);
					height: calc($tamanho-img-paciente + 20px);
					border-radius: 50%;
					background-color: #fff;
					border: 5px solid black;
					padding: 5px;
				}

				.circle-inner{
					width: $tamanho-img-paciente;
					height: $tamanho-img-paciente;
					border-radius: 80%;
					background-color: white;

					img{
						width:150px;
						height:150px;
						border-radius: 50%;
						object-fit:cover;
					}
				}

				.circle-half-black{
					border-left-color: #fff;
					border-right-color: #fff;
					border-top-color: #fff;
					border-bottom-color: #fff;
				}
			}
		}
	}
}