.container-agenda {
  display: flex;
  flex-wrap: wrap;
}
.container-agenda .cor_especialidade {
  padding: 5px 10px;
  border-radius: 4px;
  margin: 3px;
}
.container-agenda .toastui-calendar-milestone, .container-agenda .toastui-calendar-task, .container-agenda .toastui-calendar-allday, .container-agenda .toastui-calendar-panel-resizer {
  display: none !important;
}
.container-agenda .header {
  display: flex;
  flex-wra: wrap;
  width: 100%;
}
.container-agenda .header .alternar-datas {
  height: 40px;
}
.container-agenda .header .alternar-datas .voltar-datas {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-logo-cliente-transp);
  border-radius: 5px 0px 0px 5px;
  border: solid 2px var(--cor-logo-cliente);
  cursor: pointer;
  transition: all 0.3s;
}
.container-agenda .header .alternar-datas .voltar-datas:hover {
  filter: brightness(0);
}
.container-agenda .header .alternar-datas .hoje {
  background-color: #ccc;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: solid 2px var(--cor-logo-cliente);
  border-bottom: solid 2px var(--cor-logo-cliente);
  background-color: var(--cor-logo-cliente-transp);
  cursor: pointer;
  transition: all 0.3s;
}
.container-agenda .header .alternar-datas .hoje:hover {
  filter: brightness(0);
}
.container-agenda .header .alternar-datas .avancar-datas {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-logo-cliente-transp);
  border-radius: 0px 5px 5px 0px;
  border: solid 2px var(--cor-logo-cliente);
  cursor: pointer;
  transition: all 0.3s;
}
.container-agenda .header .alternar-datas .avancar-datas:hover {
  filter: brightness(0);
}
.container-agenda .header .calendar-visualizacao.active {
  opacity: 0.7;
}
.container-agenda .header .legendas-whatsapp-agenda {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-logo-cliente-transp);
  padding: 4px;
  border-radius: 4px;
  color: #fff;
}
.container-agenda #calendar {
  width: 100%;
}
.container-agenda .bg-modal-agenda {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4509803922);
  z-index: 999;
}
.container-agenda .contents-modal {
  display: none;
  z-index: 9991;
  width: 30%;
  position: relative;
  right: -1.24%;
}
.container-agenda .contents-modal .visualizar-agendamento .editar_dados_agendamento i {
  border-radius: 50%;
  padding: 5px;
}
.container-agenda .contents-modal .visualizar-agendamento .observacoes-agendamento textarea {
  min-height: 80px;
}
.container-agenda .contents-modal .bg_modal_editar_agendamento {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 9;
}
.container-agenda .modal-agendamento {
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  padding: 1%;
  display: none;
}
.container-agenda .modal-agendamento .ativar-lembrete-whats {
  padding: 5px;
  background-color: #d1d7e8;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: solid 2px #274392;
}
.container-agenda .modal-agendamento .content-modal form .tipo-agendamento {
  height: 40px;
  border-radius: 4px;
  border: solid 2px var(--cor-logo-cliente);
  background-color: var(--cor-logo-cliente-transp);
}
.container-agenda .modal-agendamento .content-modal form .tipo-agendamento span {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 4px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.container-agenda .modal-agendamento .content-modal form .tipo-agendamento span.active {
  background-color: var(--cor-logo-cliente);
  color: var(--cor-font-cliente);
  opacity: 1 !important;
}
.container-agenda .modal-agendamento .content-modal form .tipo-agendamento span:hover {
  opacity: 0.5;
  background-color: var(--cor-logo-cliente);
  color: var(--cor-font-cliente);
}
.container-agenda .modal-agendamento .content-modal .btn_criar_tratamento_ag {
  color: #5f5f5f;
  transition: all 0.3s;
}
.container-agenda .modal-agendamento .content-modal .btn_criar_tratamento_ag:hover {
  color: #000;
}

.modal-criar-tratamento .modal-xl {
  --bs-modal-width: 90%!important;
}
.modal-criar-tratamento .lista_procedimentos {
  max-height: 360px;
  overflow-y: auto;
  padding-bottom: 10px;
}
.modal-criar-tratamento .lista_procedimentos .clone_procedimento_agenda {
  border: solid 2px var(--cor-logo-cliente-transp);
  border-radius: 5px;
  padding: 5px;
}

/*# sourceMappingURL=calendar.css.map */
