@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black-Italic";
  src: url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("../fonts/Montserrat-ThinItalic.ttf") format("truetype");
}
html, body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-regular) !important;
}

body container {
  display: flex;
  flex-wrap: wrap;
}
body container .content-page {
  width: 82.5%;
  margin-left: 1.5%;
  padding-top: 1%;
}
body .background-modal-manual {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2666666667);
  width: 100%;
  height: 100%;
  z-index: 9;
}
body [disabled] {
  opacity: 0.5;
  cursor: no-drop !important;
}
body #modal_deletar .modal-content .modal-footer {
  display: flex;
  justify-content: space-between;
}
body .bg-cor-logo-cliente {
  background: var(--cor-logo-cliente) !important;
  color: var(--cor-font-cliente) !important;
  border: none !important;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.4117647059);
  top: 0px;
  left: 0px;
  position: fixed;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ceee00 94%, rgba(0, 0, 0, 0)) top/8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #ceee00);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

select {
  width: 100%;
  border-color: #dee2e6;
  border-radius: 5px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid rgb(170, 170, 170) !important;
  outline: none !important;
}

.select2 .selection .select2-selection {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border: 1px solid #dee2e6;
}
.select2 .selection .select2-selection .select2-selection__arrow {
  height: 40px;
}
.select2 .selection .select2-selection .select2-selection__clear {
  opacity: 0 !important;
}
.select2 .selection .select2-selection .select2-selection__rendered {
  width: 100%;
}
.select2 .selection .select2-selection .select2-selection__rendered {
  margin-bottom: 0px;
}

#ui-datepicker-div .ui-datepicker-header {
  background-color: #fff !important;
  border: none !important;
}
#ui-datepicker-div .ui-datepicker-prev.ui-state-hover {
  cursor: pointer !important;
}
#ui-datepicker-div .ui-datepicker-next.ui-state-hover {
  cursor: pointer !important;
}
#ui-datepicker-div .ui-state-default {
  border: 1px solid #e3e3e3 !important;
  background: #fffefe !important;
  font-weight: normal;
  color: #454545 !important;
}
#ui-datepicker-div .ui-datepicker-today {
  border: 1px solid #e3e3e3 !important;
  background: #e3e3e3 !important;
  font-weight: normal;
  color: #454545 !important;
}
#ui-datepicker-div .ui-state-active {
  border: 1px solid #e3e3e3 !important;
  background: #dbdbdb !important;
  font-weight: normal;
  color: #454545 !important;
}

.ui-widget-content .ui-state-default {
  border: 1px solid #e3e3e3 !important;
  background: #fffefe !important;
  font-weight: normal;
  color: #454545 !important;
}
.ui-widget-content .ui-state-active {
  border: 1px solid #e3e3e3 !important;
  background: #dbdbdb !important;
  font-weight: normal;
  color: #454545 !important;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox], input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after, input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked, input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled, input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked, input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled), input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus, input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch), input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after, input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked, input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label, input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}
.w-1 {
  width: 1%;
}

.w-2 {
  width: 2%;
}

.w-3 {
  width: 3%;
}

.w-4 {
  width: 4%;
}

.w-5 {
  width: 5%;
}

.w-6 {
  width: 6%;
}

.w-7 {
  width: 7%;
}

.w-8 {
  width: 8%;
}

.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-32 {
  width: 32%;
}

.w-33 {
  width: 33.33%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-68 {
  width: 68%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-itens: center;
}

.align-itens-start {
  align-itens: start;
}

.align-itens-end {
  align-itens: end;
}

.user-select-none {
  user-select: none;
}

.opacity-1 {
  opacity: 1;
}

.opacity-09 {
  opacity: 0.9;
}

.opacity-08 {
  opacity: 0.8;
}

.opacity-07 {
  opacity: 0.7;
}

.opacity-06 {
  opacity: 0.6;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-04 {
  opacity: 0.4;
}

.opacity-03 {
  opacity: 0.3;
}

.opacity-02 {
  opacity: 0.2;
}

.opacity-01 {
  opacity: 0.1;
}

.opacity-0 {
  opacity: 0;
}

/* Margem esquerda */
.mgl-1 {
  margin-left: 1%;
}

.mgl-2 {
  margin-left: 2%;
}

.mgl-3 {
  margin-left: 3%;
}

.mgl-4 {
  margin-left: 4%;
}

.mgl-5 {
  margin-left: 5%;
}

.mgl-10 {
  margin-left: 10%;
}

.mgl-15 {
  margin-left: 15%;
}

.mgl-20 {
  margin-left: 20%;
}

.mgl-25 {
  margin-left: 25%;
}

.mgl-30 {
  margin-left: 30%;
}

.mgl-35 {
  margin-left: 35%;
}

.mgl-40 {
  margin-left: 40%;
}

.mgl-45 {
  margin-left: 45%;
}

.mgl-50 {
  margin-left: 50%;
}

.mgl-55 {
  margin-left: 55%;
}

.mgl-60 {
  margin-left: 60%;
}

.mgl-65 {
  margin-left: 65%;
}

.mgl-70 {
  margin-left: 70%;
}

.mgl-75 {
  margin-left: 75%;
}

.mgl-80 {
  margin-left: 80%;
}

.mgl-85 {
  margin-left: 85%;
}

.mgl-90 {
  margin-left: 90%;
}

.mgl-95 {
  margin-left: 95%;
}

.mgl-100 {
  margin-left: 100%;
}

/* Margem direita */
.mgr-1 {
  margin-right: 1%;
}

.mgr-2 {
  margin-right: 2%;
}

.mgr-3 {
  margin-right: 3%;
}

.mgr-4 {
  margin-right: 4%;
}

.mgr-5 {
  margin-right: 5%;
}

.mgr-10 {
  margin-right: 10%;
}

.mgr-15 {
  margin-right: 15%;
}

.mgr-20 {
  margin-right: 20%;
}

.mgr-25 {
  margin-right: 25%;
}

.mgr-30 {
  margin-right: 30%;
}

.mgr-35 {
  margin-right: 35%;
}

.mgr-40 {
  margin-right: 40%;
}

.mgr-45 {
  margin-right: 45%;
}

.mgr-50 {
  margin-right: 50%;
}

.mgr-55 {
  margin-right: 55%;
}

.mgr-60 {
  margin-right: 60%;
}

.mgr-65 {
  margin-right: 65%;
}

.mgr-70 {
  margin-right: 70%;
}

.mgr-75 {
  margin-right: 75%;
}

.mgr-80 {
  margin-right: 80%;
}

.mgr-85 {
  margin-right: 85%;
}

.mgr-90 {
  margin-right: 90%;
}

.mgr-95 {
  margin-right: 95%;
}

.mgr-100 {
  margin-right: 100%;
}

/* Margem superior */
.mgt-1 {
  margin-top: 1%;
}

.mgt-2 {
  margin-top: 2%;
}

.mgt-3 {
  margin-top: 3%;
}

.mgt-4 {
  margin-top: 4%;
}

.mgt-5 {
  margin-top: 5%;
}

.mgt-10 {
  margin-top: 10%;
}

.mgt-15 {
  margin-top: 15%;
}

.mgt-20 {
  margin-top: 20%;
}

.mgt-25 {
  margin-top: 25%;
}

.mgt-30 {
  margin-top: 30%;
}

.mgt-35 {
  margin-top: 35%;
}

.mgt-40 {
  margin-top: 40%;
}

.mgt-45 {
  margin-top: 45%;
}

.mgt-50 {
  margin-top: 50%;
}

.mgt-55 {
  margin-top: 55%;
}

.mgt-60 {
  margin-top: 60%;
}

.mgt-65 {
  margin-top: 65%;
}

.mgt-70 {
  margin-top: 70%;
}

.mgt-75 {
  margin-top: 75%;
}

.mgt-80 {
  margin-top: 80%;
}

.mgt-85 {
  margin-top: 85%;
}

.mgt-90 {
  margin-top: 90%;
}

.mgt-95 {
  margin-top: 95%;
}

.mgt-100 {
  margin-top: 100%;
}

/* Margem inferior */
.mgb-1 {
  margin-bottom: 1%;
}

.mgb-2 {
  margin-bottom: 2%;
}

.mgb-3 {
  margin-bottom: 3%;
}

.mgb-4 {
  margin-bottom: 4%;
}

.mgb-5 {
  margin-bottom: 5%;
}

.mgb-10 {
  margin-bottom: 10%;
}

.mgb-15 {
  margin-bottom: 15%;
}

.mgb-20 {
  margin-bottom: 20%;
}

.mgb-25 {
  margin-bottom: 25%;
}

.mgb-30 {
  margin-bottom: 30%;
}

.mgb-35 {
  margin-bottom: 35%;
}

.mgb-40 {
  margin-bottom: 40%;
}

.mgb-45 {
  margin-bottom: 45%;
}

.mgb-50 {
  margin-bottom: 50%;
}

.mgb-55 {
  margin-bottom: 55%;
}

.mgb-60 {
  margin-bottom: 60%;
}

.mgb-65 {
  margin-bottom: 65%;
}

.mgb-70 {
  margin-bottom: 70%;
}

.mgb-75 {
  margin-bottom: 75%;
}

.mgb-80 {
  margin-bottom: 80%;
}

.mgb-85 {
  margin-bottom: 85%;
}

.mgb-90 {
  margin-bottom: 90%;
}

.mgb-95 {
  margin-bottom: 95%;
}

.mgb-100 {
  margin-bottom: 100%;
}

.mgl-px-1 {
  margin-left: 1px;
}

.mgl-px-2 {
  margin-left: 2px;
}

.mgl-px-3 {
  margin-left: 3px;
}

.mgl-px-4 {
  margin-left: 4px;
}

.mgl-px-5 {
  margin-left: 5px;
}

.mgl-px-10 {
  margin-left: 10px;
}

.mgl-px-15 {
  margin-left: 15px;
}

.mgl-px-20 {
  margin-left: 20px;
}

.mgl-px-25 {
  margin-left: 25px;
}

.mgl-px-30 {
  margin-left: 30px;
}

.mgl-px-35 {
  margin-left: 35px;
}

.mgl-px-40 {
  margin-left: 40px;
}

.mgl-px-45 {
  margin-left: 45px;
}

.mgl-px-50 {
  margin-left: 50px;
}

.mgl-px-55 {
  margin-left: 55px;
}

.mgl-px-60 {
  margin-left: 60px;
}

.mgl-px-65 {
  margin-left: 65px;
}

.mgl-px-70 {
  margin-left: 70px;
}

.mgl-px-75 {
  margin-left: 75px;
}

.mgl-px-80 {
  margin-left: 80px;
}

.mgl-px-85 {
  margin-left: 85px;
}

.mgl-px-90 {
  margin-left: 90px;
}

.mgl-px-95 {
  margin-left: 95px;
}

.mgl-px-100 {
  margin-left: 100px;
}

.mgr-px-1 {
  margin-right: 1px;
}

.mgr-px-2 {
  margin-right: 2px;
}

.mgr-px-3 {
  margin-right: 3px;
}

.mgr-px-4 {
  margin-right: 4px;
}

.mgr-px-5 {
  margin-right: 5px;
}

.mgr-px-10 {
  margin-right: 10px;
}

.mgr-px-15 {
  margin-right: 15px;
}

.mgr-px-20 {
  margin-right: 20px;
}

.mgr-px-25 {
  margin-right: 25px;
}

.mgr-px-30 {
  margin-right: 30px;
}

.mgr-px-35 {
  margin-right: 35px;
}

.mgr-px-40 {
  margin-right: 40px;
}

.mgr-px-45 {
  margin-right: 45px;
}

.mgr-px-50 {
  margin-right: 50px;
}

.mgr-px-55 {
  margin-right: 55px;
}

.mgr-px-60 {
  margin-right: 60px;
}

.mgr-px-65 {
  margin-right: 65px;
}

.mgr-px-70 {
  margin-right: 70px;
}

.mgr-px-75 {
  margin-right: 75px;
}

.mgr-px-80 {
  margin-right: 80px;
}

.mgr-px-85 {
  margin-right: 85px;
}

.mgr-px-90 {
  margin-right: 90px;
}

.mgr-px-95 {
  margin-right: 95px;
}

.mgr-px-100 {
  margin-right: 100px;
}

.mgt-px-1 {
  margin-top: 1px;
}

.mgt-px-2 {
  margin-top: 2px;
}

.mgt-px-3 {
  margin-top: 3px;
}

.mgt-px-4 {
  margin-top: 4px;
}

.mgt-px-5 {
  margin-top: 5px;
}

.mgt-px-10 {
  margin-top: 10px;
}

.mgt-px-15 {
  margin-top: 15px;
}

.mgt-px-20 {
  margin-top: 20px;
}

.mgt-px-25 {
  margin-top: 25px;
}

.mgt-px-30 {
  margin-top: 30px;
}

.mgt-px-35 {
  margin-top: 35px;
}

.mgt-px-40 {
  margin-top: 40px;
}

.mgt-px-45 {
  margin-top: 45px;
}

.mgt-px-50 {
  margin-top: 50px;
}

.mgt-px-55 {
  margin-top: 55px;
}

.mgt-px-60 {
  margin-top: 60px;
}

.mgt-px-65 {
  margin-top: 65px;
}

.mgt-px-70 {
  margin-top: 70px;
}

.mgt-px-75 {
  margin-top: 75px;
}

.mgt-px-80 {
  margin-top: 80px;
}

.mgt-px-85 {
  margin-top: 85px;
}

.mgt-px-90 {
  margin-top: 90px;
}

.mgt-px-95 {
  margin-top: 95px;
}

.mgt-px-100 {
  margin-top: 100px;
}

.mgb-px-1 {
  margin-bottom: 1px;
}

.mgb-px-2 {
  margin-bottom: 2px;
}

.mgb-px-3 {
  margin-bottom: 3px;
}

.mgb-px-4 {
  margin-bottom: 4px;
}

.mgb-px-5 {
  margin-bottom: 5px;
}

.mgb-px-10 {
  margin-bottom: 10px;
}

.mgb-px-15 {
  margin-bottom: 15px;
}

.mgb-px-20 {
  margin-bottom: 20px;
}

.mgb-px-25 {
  margin-bottom: 25px;
}

.mgb-px-30 {
  margin-bottom: 30px;
}

.mgb-px-35 {
  margin-bottom: 35px;
}

.mgb-px-40 {
  margin-bottom: 40px;
}

.mgb-px-45 {
  margin-bottom: 45px;
}

.mgb-px-50 {
  margin-bottom: 50px;
}

.mgb-px-55 {
  margin-bottom: 55px;
}

.mgb-px-60 {
  margin-bottom: 60px;
}

.mgb-px-65 {
  margin-bottom: 65px;
}

.mgb-px-70 {
  margin-bottom: 70px;
}

.mgb-px-75 {
  margin-bottom: 75px;
}

.mgb-px-80 {
  margin-bottom: 80px;
}

.mgb-px-85 {
  margin-bottom: 85px;
}

.mgb-px-90 {
  margin-bottom: 90px;
}

.mgb-px-95 {
  margin-bottom: 95px;
}

.mgb-px-100 {
  margin-bottom: 100px;
}

/* Padding esquerdo */
.pgl-1 {
  padding-left: 1%;
}

.pgl-2 {
  padding-left: 2%;
}

.pgl-3 {
  padding-left: 3%;
}

.pgl-4 {
  padding-left: 4%;
}

.pgl-5 {
  padding-left: 5%;
}

.pgl-10 {
  padding-left: 10%;
}

.pgl-15 {
  padding-left: 15%;
}

.pgl-20 {
  padding-left: 20%;
}

.pgl-25 {
  padding-left: 25%;
}

.pgl-30 {
  padding-left: 30%;
}

.pgl-35 {
  padding-left: 35%;
}

.pgl-40 {
  padding-left: 40%;
}

.pgl-45 {
  padding-left: 45%;
}

.pgl-50 {
  padding-left: 50%;
}

.pgl-55 {
  padding-left: 55%;
}

.pgl-60 {
  padding-left: 60%;
}

.pgl-65 {
  padding-left: 65%;
}

.pgl-70 {
  padding-left: 70%;
}

.pgl-75 {
  padding-left: 75%;
}

.pgl-80 {
  padding-left: 80%;
}

.pgl-85 {
  padding-left: 85%;
}

.pgl-90 {
  padding-left: 90%;
}

.pgl-95 {
  padding-left: 95%;
}

.pgl-100 {
  padding-left: 100%;
}

/* Padding direito */
.pgr-1 {
  padding-right: 1%;
}

.pgr-2 {
  padding-right: 2%;
}

.pgr-3 {
  padding-right: 3%;
}

.pgr-4 {
  padding-right: 4%;
}

.pgr-5 {
  padding-right: 5%;
}

.pgr-10 {
  padding-right: 10%;
}

.pgr-15 {
  padding-right: 15%;
}

.pgr-20 {
  padding-right: 20%;
}

.pgr-25 {
  padding-right: 25%;
}

.pgr-30 {
  padding-right: 30%;
}

.pgr-35 {
  padding-right: 35%;
}

.pgr-40 {
  padding-right: 40%;
}

.pgr-45 {
  padding-right: 45%;
}

.pgr-50 {
  padding-right: 50%;
}

.pgr-55 {
  padding-right: 55%;
}

.pgr-60 {
  padding-right: 60%;
}

.pgr-65 {
  padding-right: 65%;
}

.pgr-70 {
  padding-right: 70%;
}

.pgr-75 {
  padding-right: 75%;
}

.pgr-80 {
  padding-right: 80%;
}

.pgr-85 {
  padding-right: 85%;
}

.pgr-90 {
  padding-right: 90%;
}

.pgr-95 {
  padding-right: 95%;
}

.pgr-100 {
  padding-right: 100%;
}

/* Padding superior */
.pgt-1 {
  padding-top: 1px;
}

.pgt-2 {
  padding-top: 2px;
}

.pgt-3 {
  padding-top: 3px;
}

.pgt-4 {
  padding-top: 4px;
}

.pgt-5 {
  padding-top: 5px;
}

.pgt-10 {
  padding-top: 10px;
}

.pgt-15 {
  padding-top: 15px;
}

.pgt-20 {
  padding-top: 20px;
}

.pgt-25 {
  padding-top: 25px;
}

.pgt-30 {
  padding-top: 30px;
}

.pgt-35 {
  padding-top: 35px;
}

.pgt-40 {
  padding-top: 40px;
}

.pgt-45 {
  padding-top: 45px;
}

.pgt-50 {
  padding-top: 50px;
}

.pgt-55 {
  padding-top: 55px;
}

.pgt-60 {
  padding-top: 60px;
}

.pgt-65 {
  padding-top: 65px;
}

.pgt-70 {
  padding-top: 70px;
}

.pgt-75 {
  padding-top: 75px;
}

.pgt-80 {
  padding-top: 80px;
}

.pgt-85 {
  padding-top: 85px;
}

.pgt-90 {
  padding-top: 90px;
}

.pgt-95 {
  padding-top: 95px;
}

.pgt-100 {
  padding-top: 100px;
}

/* Padding inferior */
.pgb-1 {
  padding-bottom: 1%;
}

.pgb-2 {
  padding-bottom: 2%;
}

.pgb-3 {
  padding-bottom: 3%;
}

.pgb-4 {
  padding-bottom: 4%;
}

.pgb-5 {
  padding-bottom: 5%;
}

.pgb-10 {
  padding-bottom: 10%;
}

.pgb-15 {
  padding-bottom: 15%;
}

.pgb-20 {
  padding-bottom: 20%;
}

.pgb-25 {
  padding-bottom: 25%;
}

.pgb-30 {
  padding-bottom: 30%;
}

.pgb-35 {
  padding-bottom: 35%;
}

.pgb-40 {
  padding-bottom: 40%;
}

.pgb-45 {
  padding-bottom: 45%;
}

.pgb-50 {
  padding-bottom: 50%;
}

.pgb-55 {
  padding-bottom: 55%;
}

.pgb-60 {
  padding-bottom: 60%;
}

.pgb-65 {
  padding-bottom: 65%;
}

.pgb-70 {
  padding-bottom: 70%;
}

.pgb-75 {
  padding-bottom: 75%;
}

.pgb-80 {
  padding-bottom: 80%;
}

.pgb-85 {
  padding-bottom: 85%;
}

.pgb-90 {
  padding-bottom: 90%;
}

.pgb-95 {
  padding-bottom: 95%;
}

.pgb-100 {
  padding-bottom: 100%;
}

/* Padding esquerdo */
.pgl-1px {
  padding-left: 1px;
}

.pgl-2px {
  padding-left: 2px;
}

.pgl-3px {
  padding-left: 3px;
}

.pgl-4px {
  padding-left: 4px;
}

.pgl-5px {
  padding-left: 5px;
}

.pgl-10px {
  padding-left: 10px;
}

.pgl-15px {
  padding-left: 15px;
}

.pgl-20px {
  padding-left: 20px;
}

.pgl-25px {
  padding-left: 25px;
}

.pgl-30px {
  padding-left: 30px;
}

.pgl-35px {
  padding-left: 35px;
}

.pgl-40px {
  padding-left: 40px;
}

.pgl-45px {
  padding-left: 45px;
}

.pgl-50px {
  padding-left: 50px;
}

.pgl-55px {
  padding-left: 55px;
}

.pgl-60px {
  padding-left: 60px;
}

.pgl-65px {
  padding-left: 65px;
}

.pgl-70px {
  padding-left: 70px;
}

.pgl-75px {
  padding-left: 75px;
}

.pgl-80px {
  padding-left: 80px;
}

.pgl-85px {
  padding-left: 85px;
}

.pgl-90px {
  padding-left: 90px;
}

.pgl-95px {
  padding-left: 95px;
}

.pgl-100px {
  padding-left: 100px;
}

/* Padding direito */
.pgr-1px {
  padding-right: 1px;
}

.pgr-2px {
  padding-right: 2px;
}

.pgr-3px {
  padding-right: 3px;
}

.pgr-4px {
  padding-right: 4px;
}

.pgr-5px {
  padding-right: 5px;
}

.pgr-10px {
  padding-right: 10px;
}

.pgr-15px {
  padding-right: 15px;
}

.pgr-20px {
  padding-right: 20px;
}

.pgr-25px {
  padding-right: 25px;
}

.pgr-30px {
  padding-right: 30px;
}

.pgr-35px {
  padding-right: 35px;
}

.pgr-40px {
  padding-right: 40px;
}

.pgr-45px {
  padding-right: 45px;
}

.pgr-50px {
  padding-right: 50px;
}

.pgr-55px {
  padding-right: 55px;
}

.pgr-60px {
  padding-right: 60px;
}

.pgr-65px {
  padding-right: 65px;
}

.pgr-70px {
  padding-right: 70px;
}

.pgr-75px {
  padding-right: 75px;
}

.pgr-80px {
  padding-right: 80px;
}

.pgr-85px {
  padding-right: 85px;
}

.pgr-90px {
  padding-right: 90px;
}

.pgr-95px {
  padding-right: 95px;
}

.pgr-100px {
  padding-right: 100px;
}

.pgt-1px {
  padding-top: 1px;
}

.pgt-2px {
  padding-top: 2px;
}

.pgt-3px {
  padding-top: 3px;
}

.pgt-4px {
  padding-top: 4px;
}

.pgt-5px {
  padding-top: 5px;
}

.pgt-10px {
  padding-top: 10px;
}

.pgt-15px {
  padding-top: 15px;
}

.pgt-20px {
  padding-top: 20px;
}

.pgt-25px {
  padding-top: 25px;
}

.pgt-30px {
  padding-top: 30px;
}

.pgt-35px {
  padding-top: 35px;
}

.pgt-40px {
  padding-top: 40px;
}

.pgt-45px {
  padding-top: 45px;
}

.pgt-50px {
  padding-top: 50px;
}

.pgt-55px {
  padding-top: 55px;
}

.pgt-60px {
  padding-top: 60px;
}

.pgt-65px {
  padding-top: 65px;
}

.pgt-70px {
  padding-top: 70px;
}

.pgt-75px {
  padding-top: 75px;
}

.pgt-80px {
  padding-top: 80px;
}

.pgt-85px {
  padding-top: 85px;
}

.pgt-90px {
  padding-top: 90px;
}

.pgt-95px {
  padding-top: 95px;
}

.pgt-100px {
  padding-top: 100px;
}

.pgb-1px {
  padding-bottom: 1px;
}

.pgb-2px {
  padding-bottom: 2px;
}

.pgb-3px {
  padding-bottom: 3px;
}

.pgb-4px {
  padding-bottom: 4px;
}

.pgb-5px {
  padding-bottom: 5px;
}

.pgb-10px {
  padding-bottom: 10px;
}

.pgb-15px {
  padding-bottom: 15px;
}

.pgb-20px {
  padding-bottom: 20px;
}

.pgb-25px {
  padding-bottom: 25px;
}

.pgb-30px {
  padding-bottom: 30px;
}

.pgb-35px {
  padding-bottom: 35px;
}

.pgb-40px {
  padding-bottom: 40px;
}

.pgb-45px {
  padding-bottom: 45px;
}

.pgb-50px {
  padding-bottom: 50px;
}

.pgb-55px {
  padding-bottom: 55px;
}

.pgb-60px {
  padding-bottom: 60px;
}

.pgb-65px {
  padding-bottom: 65px;
}

.pgb-70px {
  padding-bottom: 70px;
}

.pgb-75px {
  padding-bottom: 75px;
}

.pgb-80px {
  padding-bottom: 80px;
}

.pgb-85px {
  padding-bottom: 85px;
}

.pgb-90px {
  padding-bottom: 90px;
}

.pgb-95px {
  padding-bottom: 95px;
}

.pgb-100px {
  padding-bottom: 100px;
}

.pointer {
  cursor: pointer !important;
}

a {
  text-decoration: none !important;
  color: var(--font-color);
}

[data-bs-title=Remover] {
  background-color: #F44336 !important;
}

[data-bs-title=Desativar] {
  background-color: #ff9800 !important;
}

[data-bs-title=Ativar] {
  background-color: #03a9f4 !important;
}

[data-bs-title=Editar] {
  background-color: #4caf50 !important;
}

[data-bs-title=Visualizar] {
  background-color: #607d8b !important;
}

.icone-nome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  user-select: none;
  cursor: auto;
  box-shadow: 0px 0px 6px #000;
}
.icone-nome span {
  position: relative;
  top: 8px;
  text-transform: uppercase;
}
.icone-nome.grande {
  width: 120px;
  height: 120px;
  font-size: 400%;
}
.icone-nome.medio {
  font-size: 28px;
  width: 60px;
  height: 60px;
}
.icone-nome.pequeno {
  font-size: 17px;
  width: 40px;
  height: 40px;
}
.icone-nome.minimo {
  font-size: 14px;
  width: 30px;
  height: 30px;
}
.icone-nome img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.table td .row-table {
  display: flex;
  height: 40px;
  align-items: center;
}

.form-control:focus {
  border-color: #000000 !important;
  box-shadow: 0 0 0 0 !important;
}

.text-align-center {
  text-align: center;
}

[role=navigation] {
  margin-bottom: 30px;
}
[role=navigation] svg {
  width: 2% !important;
}

.deletado {
  background-color: rgba(244, 67, 54, 0.4196078431);
}

/*# sourceMappingURL=default.css.map */
